body {
    background-image: url("../img/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.altura-hero {
    min-height: calc(100vh - 70px);
}

.carousel-item img {
    height: 650px; 
    object-fit: contain; 
}