body {
    background-image: url("../img/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.altura-hero {
    min-height: calc(100vh - 70px);
}

.carousel-item img {
    height: 650px; 
    object-fit: contain; 
}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05); 
  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
    
  z-index: 10; 
}